<br /><br />
<br />
<h1 class="alinhar">LOGIN</h1>
<br />
<form [formGroup]="loginForm" >

  <div class="form-group">
    <label class="alinhar" for="email">Login</label>
    <input type="text" loginForm="username" class="area-texto alinhar"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div class="alinhar" *ngIf="f.username.errors?.['required']">O Email não informado</div>
    </div>
  </div>
  <div class="form-group">
    <label class="alinhar" for="password">Senha</label>
    <input type="text" loginForm="password" class="area-texto alinhar"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div class="alinhar" *ngIf="f.password.errors?.['required']">A Senha não informada</div>
    </div>
  </div>
  <br>
  <div>
    <button type="submit" class="botao-default alinhar" (click)="onSubmit()" routerLink="/livros/listar-livros">Entrar</button>
  </div>
  <br>
  <div>
    <button type="button" class="alinhar cadastro" routerLink="/cadastro-usuario">Cadastrar sua
      conta</button>
  </div>
</form>
